[package]
name = "basic"
version = "0.1.0"
edition = "2021"

[dependencies]
tokio = { version = "1.43", features = ["net", "macros", "rt-multi-thread"] }
axum = { version = "0.8", features = [ "macros" ]}
axum-oidc = { path = "./../.." }
tower = "0.5"
tower-sessions = "0.14"
dotenvy = "0.15"
