name: Cargo Build & Test

on:
  push:
  pull_request:
  schedule:
  - cron: '0 0 1,7,14,21 * *'

env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    name: axum-oidc
    runs-on: ubuntu-latest
    strategy:
      matrix:
        toolchain:
        - stable
        - nightly
    steps:
    - uses: actions/checkout@v3
    - run: rustup update ${{ matrix.toolchain }} && rustup default ${{ matrix.toolchain }}
    - run: cargo build --verbose --release
    - run: cargo test --verbose --release

  test_basic_example:
    name: axum-oidc - basic
    runs-on: ubuntu-latest
    strategy:
      matrix:
        toolchain:
        - stable
        - nightly
    steps:
    - uses: actions/checkout@v3
    - run: rustup update ${{ matrix.toolchain }} && rustup default ${{ matrix.toolchain }}
    - run: cargo build --verbose --release
      working-directory: ./examples/basic
    - run: cargo test --verbose --release
      working-directory: ./examples/basic
